<!DOCTYPE html>
<html>
	<head>
		#parse("header.vm")		
	</head>
	<body>
		
		<div data-role="page" id="createTaskPage">
			<script type="text/javascript" src="/task/js/task/task.js"></script>
			
			#set($headerTitle="Create Task")
			#parse("bodyHeader.vm")
			
			<div role="main" class="ui-content">
				<div data-demo-html="true">
					<div id="taskInputDebug"></div>
				</div>
				<div data-demo-html="true">
					<label for="text-basic">Title:</label>
					<input type="text" name="taskTitle" id="taskTitle" value=""></input>
				</div>
				
				<div data-demo-html="true">
					<label for="text-basic">Content:</label>
					<textarea name="taskContent" id="taskContent" value="" rows="8"></textarea>
				</div>
				
				<div data-demo-html="true">
					 <label for="text-basic">Deadline:</label>
					 <input type="date" name="taskDeadline" id="taskDeadline" value="">
				</div>
				
				<div data-demo-html="true">
					 <label for="text-basic">Difficulty:</label>
					 <input type="number" name="taskDifficulty" id="taskDifficulty" value="1"
					 data-highlight="true" min="1" max="5" step="1">
				</div>
				
				<div data-demo-html="true">
					 <label for="text-basic">Progress:</label>
					 <input type="number" name="taskPercentage" id="taskPercentage" value="0"
					 data-highlight="true" min="0" max="100" step="5">
				</div>
				
				<div data-demo-html="true">
					<label for="select-choice-mini" class="select">Type:</label>
					<select class="form-control" name="taskType" id="taskType" data-native-menu="false">
						<option value="0">普通</option>
						<option value="1">題目</option>
						<option value="2">年度</option>
					</select>
				</div>
				
				<div data-demo-html="true">
					<label for="select-choice-mini" class="select">user:</label>
					<select multiple class="form-control" name="party" id="party" data-native-menu="false">
						<option value="">No selected</option>
						#foreach($user in $userList)
							<option value="$user.loginName">$user.loginName</option>
						#end
					</select>
				</div>
				
				<div data-demo-html="true">
					<input type="button" data-inline="true" value="Submit" onclick="onCreateTask();"></input>
				</div>
			</div>
			
			<!-- Left Menu -->
			#parse("leftMenu.vm")
	
			#parse("bodyFooter.vm")
		</div>
		<!-- /page -->
		
		<script type="text/javascript">
		$(document).ready(function(){
			onInitInputPage();
		});
		</script>

	</body>
</html>
				