<!DOCTYPE html>
<html>
	<head>
		#parse("header.vm")
	</head>
	<body>
		
		<div data-role="page" id="taskListPage">
			<script type="text/javascript" src="/task/js/task/task.js"></script>
			
			
			#set($headerTitle="List Task")
			#parse("bodyHeader.vm")
			
			<div role="main" class="ui-content">
				<div data-demo-html="true">
					<div data-role="collapsible">
					  <h3>Filter</h3>
					  <a href="" onclick="loadAllTasks();">Go</a>
					</div>
					<ul data-role="listview" data-inset="true" id="listTaskUL">
						
					</ul>
					
					<div data-role="popup" id="taskPopupMenu" data-theme="b">
						<ul data-role="listview" data-inset="true" style="min-width:210px;">
							<li data-role="list-divider">Choose an action</li>
							<li><a href="/task/pages/taskDetailDialog" onclick="TaskItem.action='detail';" data-rel="dialog" data-transition="pop">Enter</a></li>
							<li><a href="/task/pages/taskDetailDialog" onclick="TaskItem.action='edit';" data-rel="dialog" data-transition="pop">Edit</a></li>
							<li><a href="#">Delete</a></li>
						</ul>
					</div>
				</div>
			</div>
						
			<!-- Left Menu -->
			#parse("leftMenu.vm")
	
			#parse("bodyFooter.vm")
		</div>
		<!-- /page -->
		

	</body>
</html>
				