<!DOCTYPE html>
<html>
	<head>
		#parse("header.vm")
	</head>
	<body>
		
		<div data-role="page" id="taskListPage">
			<script type="text/javascript" src="/task/js/task/task.js"></script>
			<script type="text/javascript">
				 $(document).delegate("#taskListPage", "pageinit", function(){
					loadAllTasks();
			    });
			</script>
			
			#set($headerTitle="List Task")
			#parse("bodyHeader.vm")
			
			<div role="main" class="ui-content">
				<div data-demo-html="true">
					<ul data-role="listview" data-inset="true" id="listTaskUL">
						
					</ul>
					
					<div data-role="popup" id="popupMenu" data-theme="b">
						<ul data-role="listview" data-inset="true" style="min-width:210px;">
							<li data-role="list-divider">Choose an action</li>
							<li><a href="#contractDetailDialog" onclick="loadDetails('details');" data-rel="dialog" data-transition="pop">View details</a></li>
							<li><a href="#contractDetailDialog" onclick="loadDetails('editDetail');" data-rel="dialog" data-transition="pop">Edit</a></li>
							<li><a href="#">Delete</a></li>
						</ul>
					</div>
				</div>
			</div>
						
			<!-- Left Menu -->
			#parse("leftMenu.vm")
	
			#parse("bodyFooter.vm")
		</div>
		<!-- /page -->
		
		<!-- Task Details page -->
		<div data-role="dialog" id="taskDetailDialog">
			<div data-role="header" data-theme="b">
				<h1>Details page</h1>
			</div>
			<div role="main" class="ui-content" id="taskDetailsContent">
			</div>
			
			<div data-role="footer">
			</div>
		</div>
		
		

	</body>
</html>
				