
	<h2>${detail.createtime}</h2>	
	<p>ContractNo:${detail.contractNo}</p>
	<p>Status:${detail.contractStatus}</p>						
	<p>${detail.contractContent}</p>
	<input type="button" data-inline="true" value="Accept" onclick="doSign(${detail.id},'Accept');"></input>
	<input type="button" data-inline="true" value="Decline" onclick="doSign(${detail.id},'Decline');"></input>
