#parse("task/common/function.vm")
	<h2>${taskModel.title}</h2>	
	<p>Id:${taskModel.id}</p>
	<input type="hidden" id="taskId" name="taskId" value="${taskModel.id}"/>
	<p>Status:#getStatusText(${taskModel.status})</p>	
	<p>Created by:$!{taskModel.creator}</p>	
	#if("$!{taskModel.deadline}" != "")	
		<p>Deadline: $!{taskModel.deadline}</p>		
	#end	
	
	<div class="ui-field-contain">
	<textarea style="border:1px solid yellow;width:100%;" 
	data-mini="true" rows="4"
	disabled="true"
	>
	${taskModel.content}</textarea>
	</div>
	
	<div id="divTaskPercentage">
		<label for="taskPercentage">Progress:<div id="labelTaskPercentage"></div></label>
	 	<input type="number" name="taskPercentage" id="taskPercentage" 
	 	data-highlight="true"
	 	value="$!{myTask.percentage}" min="0" max="100" step="5"/>
	</div>
	
	
	
	<input type="button" data-inline="true" value="Update" 
	onclick="doUpdateProgress('PERCENTAGE');"></input>
	
	<input type="button" data-inline="true" value="Give up" 
	onclick="doUpdateProgress('STATUS', -1);"></input>
	