
	
	#parse("task/common/function.vm")
	<input type="hidden" id="taskId" name="taskId" value="$!{detail.id}"/>
	<div data-demo-html="true">
		<label for="text-basic">Title:</label>
		<input type="text" style="width:80%" name="taskTitle" id="taskTitle" value="$!{detail.title}"></input>
	</div>
	<div data-demo-html="true">
		<label for="text-basic">Content:</label>
		<textarea name="taskContent" id="taskContent" 
		style="width:80%;" rows="8"
		>$!{detail.content}</textarea>
	</div>
	<p>Status:#getStatusText(${detail.status})</p>		
	<div data-demo-html="true">
		<label for="text-basic">Creation time:</label>
		$!{detail.createtime}
	</div>
	<div data-demo-html="true">
		<label for="text-basic">Deadline:</label>
		<input type="date" value="$!{detail.deadline}" name="taskDeadline" id="taskDeadline" />
	</div>
	<div data-demo-html="true">
		<label for="text-basic">Difficulty:</label>
		<input type="number" min="1" max="5" step="1" value="$!{detail.difficulty}" name="taskDifficulty" id="taskDifficulty" />
	</div>
	<div data-demo-html="true">
		<label for="taskProgress">Progress:<div id="labelTaskPercentage"></div></label>
	 	<input type="number" name="taskProgress" id="taskProgress" 
	 	data-highlight="true"
	 	value="$!{detail.percentage}" min="0" max="100" step="5"/>
	</div>
	
	<input type="button" data-inline="true" value="OK" onclick="onModifyTask();"></input>
	<a href="#taskListPage" data-direction="reverse" class="ui-btn ui-btn-inline">Close</input>

