#parse("task/common/function.vm")

#foreach ($module in $list)	
	<li data-role="list-divider">
		<h2>${module.title}</h2>
		<span class="ui-li-count">${module.progress}</span>
	</li>	
	<li aid="${module.id}">
		<a _href="/task/task/detail/${module.id}" 
		href="#taskPopupMenu"
		onclick="onSelectTask(${module.id});"
		class="ui-shadow ui-btn ui-corner-all ui-btn-inline"
		data-rel="popup" data-transition="slideup"
		_data-transition="pop" >
			
			<p class="ui-li-aside">#getTaskType(${module.type})</p>
			<p>${module.content}</p>
			<p>${module.deadline}</p>
		</a>
	</li>
#end