<div data-role="panel" id="outside" data-theme="b">
			
			<ul data-role="listview">
				<li style="height:100px;"><span ></span></li>
				<li data-icon="back">
					<a href="#" data-rel="close">Close</a>
				</li>
				<li>
					<a href="/auth/pages/login">Login</a>
				</li>
				<li>
					<a href="/core/main/decide/list">List Selction</a>
				</li>
				<li>
					<a href="/dream/pages/inputMain">createDream</a>
				</li>
				<li>
					<a href="/dream/pages/listMain">DreamList.</a>
				</li>
				<li>
					<a href="/contract/pages/listMain">Contract list.</a>
				</li>
				<li>
					<a href="/contract/pages/inputMain">Create contract</a>
				</li>
				<li>
					<a href="/task/pages/listMain">Task list.</a>
				</li>
				<li>
					<a href="/task/pages/inputMain">Create Task</a>
				</li>
			</ul>
		</div>