<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Beta1</title>
		#parse("header.vm");		
	</head>
	<body>
		

		<div data-role="page" id="a">
			#set($headerTitle="Main")
			#parse("bodyHeader.vm")
			<!-- /header -->
				<img src="http://on-img.com/chart_image/5a1ed46ae4b00f2396d1f6a2.png" />
				<a href="https://www.processon.com/diagraming/5a1ed46ae4b00f2396d1f69f">Draw</a>
				
			<!-- Left Menu -->
			#parse("leftMenu.vm")
	
			#parse("bodyFooter.vm")
		</div>
		
		<!-- /page -->

		
		
	</body>
</html>
				