<!DOCTYPE html>
<html>
	<head>
		#parse("header.vm")		
	</head>
	<body>
			
		<div data-role="page" id="listDreamPage">
			<script type="text/javascript" src="/dream/js/dream/input.js"></script>
			<script type="text/javascript">
				$(document).delegate("#listDreamPage", "pageinit", function(){
					DREAM_PAGE.pageOffset=0;
			        loadNext();
			    });
			</script>
			
    
			#set($headerTitle="List Dream")
			#parse("bodyHeader.vm")
			
			<div role="main" class="ui-content">
				<div data-demo-html="true">
					<ul data-role="listview" data-inset="true" id="listDreamUl">
						<li data-role="list-divider"><span class="ui-li-count">0</span></li>
					</ul>
					<ul data-role="listview" data-inset="true">
						<li>
							<a href="javascript:loadNext();">Load more</a>
						</li>
					</ul>
				</div>
			</div>
			
			<!-- Left Menu -->
			#parse("leftMenu.vm")
	
			#parse("bodyFooter.vm")
		</div>
		<!-- /page -->
		
		
	</body>
</html>
				