#foreach ($module in $list)		
	<li aid="${module.idactivity}">
		<a href="#dreamDetailDialog"
		onclick="loadDreamDetails(${module.idactivity});"
		class="ui-shadow ui-btn ui-corner-all ui-btn-inline"
		data-rel="dialog" data-transition="pop">
			<h2>${module.datetime}</h2>							
			<p>${module.username}</p>
			<p>${module.result}</p>
		</a>
	</li>
#end